{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Welcome to Boutique Ado
            </h1>
            <p class="lead text-muted">
                Shop the latest products and special offers.
            </p>
            <a href="{% url 'products' %}" class="btn btn-black rounded-0 text-uppercase mt-2">
                Shop Now
            </a>
        </div>
    </div>
</div>
{% endblock %}
